.site-layout-content {
    background: #fff;
    overflow: auto;
    height:100%;
  }
  
.ver {
  position: absolute;
  z-index: 10;
  right:0px;
  margin-top: 10px;
}

.spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}