.dnd-wrap {
    width: 250px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.dnd-warp-prefab {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.dnd-selector {
    background-size: 100%;
    text-align: center;
    cursor: move;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNTJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgNTIgMjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+55+p5b2i5aSH5Lu9PC90aXRsZT4KICAgIDxnIGlkPSLpobXpnaItMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9Iue8lue7hCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2LjAwMDAwMCwgLTEyLjAwMDAwMCkiIGZpbGw9IiNBQUQyRDIiPgogICAgICAgICAgICA8cmVjdCBpZD0i55+p5b2i5aSH5Lu9IiB4PSIxNiIgeT0iMTIiIHdpZHRoPSI1MiIgaGVpZ2h0PSIyMiIgcng9IjIiPjwvcmVjdD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
}

.dnd-sequence {
    background-size: 100%;
    text-align: center;
    cursor: move;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNTJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgNTIgMjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+MjwvdGl0bGU+CiAgICA8ZyBpZD0i6aG16Z2iLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSLnlLvmnb8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05OS4wMDAwMDAsIC0xMi4wMDAwMDApIiBmaWxsPSIjQTdDMUQ1Ij4KICAgICAgICAgICAgPHJlY3QgaWQ9IjIiIHg9Ijk5IiB5PSIxMiIgd2lkdGg9IjUyIiBoZWlnaHQ9IjIyIiByeD0iMiI+PC9yZWN0PgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
}

.dnd-parallel {
    background-size: 100%;
    text-align: center;
    cursor: move;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjlweCIgaGVpZ2h0PSIyOXB4IiB2aWV3Qm94PSIwIDAgMjkgMjkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+MzwvdGl0bGU+CiAgICA8ZyBpZD0i6aG16Z2iLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSLnlLvmnb8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xOTQuMDAwMDAwLCAtOS4wMDAwMDApIiBmaWxsPSIjQjNDREFFIj4KICAgICAgICAgICAgPHJlY3QgaWQ9IjMiIHg9IjE5NCIgeT0iOSIgd2lkdGg9IjI5IiBoZWlnaHQ9IjI5IiByeD0iMiI+PC9yZWN0PgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
}

.dnd-loop {
    /* Ellipse 1 */
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    background: #D8A66C;
}

.dnd-loop-name {
    pointer-events: none;

    /* Loop */
    position: absolute;
    width: 30px;
    height: 15px;

    left: 20px;
    top:6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #000000;
}

.dnd-wait {
    text-align: center;
    cursor: move;
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='37px' height='23px' viewBox='0 0 37 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Ctitle%3E6%3C/title%3E %3Cg id='页面-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='画板' transform='translate(-190.000000, -57.000000)' fill='%23ADA9D2'%3E %3Crect id='6' x='190' y='57' width='37' height='23' rx='11.5'%3E%3C/rect%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    background-size: 100%;
    width: 40px;
    height: 25px;
}

.dnd-prefab-light {
    width: 200px;
    height: 30px;
    border: 0.5px solid #dba76f;
    text-align: center;
    line-height: 30px;
    margin: 1px;
    cursor: move;
}

.dnd-prefab-dark {
    width: 200px;
    height: 30px;
    border: 0.5px solid #10446e;
    color: #f0f0f0;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    cursor: move;
}

.dnd-condition {
    /* Rectangle 1 */
    position: absolute;
    width: 30px;
    height: 30px;

    background: #BE7878;
    transform: rotate(45deg);

    /* identical to box height */
    color: #000000;
}

.dnd-condition-name {
    /* Condition */
    pointer-events: none;

    position: absolute;
    width: 55px;
    height: 15px;

    left: -1px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #000000;
}