.dnd-wrap {
    width: 250px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.dnd-warp-prefab {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.dnd-selector {
    position: absolute;
    width: 50px;
    height: 25px;

    top: 10px;
    left: 2px;

    background: #799E85;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dnd-selector-name-light {
    pointer-events: none;

    position: absolute;
    width: 48px;
    height: 15px;

    left: 5px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #000000;
}

.dnd-selector-name-dark {
    pointer-events: none;

    position: absolute;
    width: 48px;
    height: 15px;

    left: 5px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #ffffff;
}

.dnd-sequence {
    position: absolute;
    width: 50px;
    height: 25px;

    top: 10px;
    left: 12px;

    background: #709297;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dnd-sequence-name-light {
    /* Sequence */
    pointer-events: none;

    position: absolute;
    width: 57px;
    height: 15px;

    left: 9px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;

}

.dnd-sequence-name-dark {
    /* Sequence */
    pointer-events: none;

    position: absolute;
    width: 57px;
    height: 15px;

    left: 9px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #ffffff;
}

.dnd-parallel {
    position: absolute;
    width: 45px;
    height: 45px;

    left: 20px;

    background: #3A8D98;
    opacity: 0.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dnd-parallel-name-light {
    /* Parallel */
    pointer-events: none;

    position: absolute;
    width: 42px;
    height: 15px;

    left: 21px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
}

.dnd-parallel-name-dark {
    /* Parallel */
    pointer-events: none;

    position: absolute;
    width: 42px;
    height: 15px;

    left: 21px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #ffffff;
}

.dnd-loop {
    /* Ellipse 1 */
    position: absolute;
    width: 50px;
    height: 25px;

    left: 12px;
    top:2px;

    border-radius: 50%;
    background: #D8A66C;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dnd-loop-name-light {
    pointer-events: none;

    /* Loop */
    position: absolute;
    width: 30px;
    height: 15px;

    left: 22px;
    top: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #000000;
}

.dnd-loop-name-dark {
    pointer-events: none;

    /* Loop */
    position: absolute;
    width: 30px;
    height: 15px;

    left: 22px;
    top: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #ffffff;
}

.dnd-wait {
    position: absolute;
    width: 60px;
    height: 25px;

    left: 12px;
    top: 3px;

    background: #C3ACD0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.dnd-wait-name-light {
    pointer-events: none;

    position: absolute;
    width: 25px;
    height: 15px;

    top: 8px;
    left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}

.dnd-wait-name-dark {
    pointer-events: none;

    position: absolute;
    width: 25px;
    height: 15px;

    top: 8px;
    left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #ffffff;
}

.dnd-prefab-light {
    width: 200px;
    height: 30px;
    border: 0.5px solid #dba76f;
    text-align: center;
    line-height: 30px;
    margin: 1px;
    cursor: move;
}

.dnd-prefab-dark {
    width: 200px;
    height: 30px;
    border: 0.5px solid #10446e;
    color: #f0f0f0;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    cursor: move;
}

.dnd-condition {
    /* Rectangle 1 */
    position: absolute;
    width: 30px;
    height: 30px;

    left: 12px;

    background: #BE7878;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(45deg);

    /* identical to box height */
    color: #000000;
}

.dnd-condition-name-light {
    /* Condition */
    pointer-events: none;

    position: absolute;
    width: 55px;
    height: 15px;

    left: -1px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #000000;
}

.dnd-condition-name-dark {
    /* Condition */
    pointer-events: none;

    position: absolute;
    width: 55px;
    height: 15px;

    left: -1px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    color: #ffffff;
}

.divider-element {
    padding-top: 30px; /* 顶部垫10px */
  }