.app {
  font-family: sans-serif;
  display: flex;
  position: relative;
}

.app-content {
  flex: 1;
  z-index: 1;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.app-zoom-win {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 100px;
  right:18px;
}

.app-zoom-mac {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 100px;
  right:3px;
}

.app-step-mac {
  position: absolute;
  z-index: 10;
  right:65px;
  bottom:63px;
}

.app-reset-mac {
  position: absolute;
  z-index: 10;
  right:140px;
  bottom:63px;
}

.app-upload-mac {
  position: absolute;
  z-index: 10;
  right:3px;
  bottom:63px;
}

.app-step-win {
  position: absolute;
  z-index: 10;
  right:75px;
  bottom:75px;
}

.app-reset-win {
  position: absolute;
  z-index: 10;
  right:150px;
  bottom:75px;
}

.app-upload-win {
  position: absolute;
  z-index: 10;
  right:18px;
  bottom:75px;
}


.dnd-wrap {
  width: 200px;
  padding: 16px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.dnd-rect {
  width: 50px;
  height: 30px;
  border: 2px solid #31d0c6;
  text-align: center;
  line-height: 25px;
  margin: 5px;
  cursor: move;
}


.dnd-circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #31d0c6;
  text-align: center;
  line-height: 60px;
  margin: 16px;
  cursor: move;
}

.dnd-ellipse {
  width: 80px;
  height: 40px;
  border: 2px solid #31d0c6;
  border-radius: 50%;
  text-align: center;
  margin: 16px;
  line-height: 30px;
  cursor: move;
}

.x6-graph-scroller {
  border: 1px solid #f0f0f0;
  margin-left: -1px;
}

.validating {
  position: relative;
}

.validating:after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #873bf4;
  border-color: #873bf4 transparent #873bf4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
